style.css

div.banner{
    width: 800px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
    
.footer{
    width: 800px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.middle{
    width: 800px;
    position: relative;
    top: 0px;
    height: 550px;
    margin-bottom: 5px;
}

.left-sidebar{
    width: 120px;
    position: absolute;
    padding: 5px;
    height: 520px;
    background-color: yellow;
    color: black;
}

.main{
    width: 380px;
    position: absolute;
    left: 140px;
    height: 520px;
    padding: 5px;
    color: black;
    background-color: white;
    font-size: 10 px;
}

.right-sidebar{
    width: 270px;
    position: absolute;
    padding: 5px;
    left: 640px;
    height: 520px;
    background-color: yellow;
    color: black;
}
